@page
@model EverythingWeb.Pages.AddedModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Added page";
}


<h1 class="display-4">Added New Document</h1>

<p>Length Model.UploadedBytes</p>