@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Documents</h1>
    <p>User: Phill</p>
    <p><a href="Document">Document 1</a></p>
    <p><a href="Document">Document 2</a></p>
    <p><a href="Document">Document 3</a></p>
    <p><a href="Document">Document 4</a></p>
    <p><a href="Document">Document 5</a></p>
    <p><a href="Document">Document 6</a></p>

</div>
