@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Document [TBS]</h1>
    <p>
    <button>Publish</button>
    <button>Archive</button>
    <button>Update</button>
    </p>

    <p>
        <a href="Preview">Preview</a>
        Download
        <a href="path_to_file" download="proposed_file_name">XML</a>
        <a href="path_to_file" download="proposed_file_name">Markdown</a>
        <a href="path_to_file" download="proposed_file_name">Word</a>
        <a href="path_to_file" download="proposed_file_name">HTML</a>
        <a href="path_to_file" download="proposed_file_name">Text</a>
    <a href="path_to_file" download="proposed_file_name">HTML</a>
    </p>


    <table>
        <tr>
            <td>Document</td>
            <td>Comments</td>
        </tr>
        <tr>
            <td>Blah de blah</td>
            <td>[Comment]</td>
        </tr>


    </table>


</div>
